<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (
          pageContent=~{:: pageContent},
          pageTitle='Blog Post',
          pageCss=@{/css/blog-post.css}
      )}">
<div th:fragment="pageContent">
  <div class="blog-post">
    <header class="blog-header">
      <h1 th:utext="${blogPost.title}"></h1>
      <div class="meta">
        <span>📅 <span th:text="${#temporals.format(blogPost.publishedAt, 'MMM dd, yyyy')}"></span></span>
<!--        <span>👤 <span th:text="${blogPost.authorName}"></span></span>-->
<!--        <span>🏷️ <span th:text="${blogPost.categoryName}"></span></span>-->
      </div>
    </header>

    <img th:src="${blogPost.thumbnail}" alt="Blog Thumbnail" class="featured-image" loading="lazy">

    <article class="blog-content">
      <p th:utext="${blogPost.content}"></p>
    </article>

    <footer class="blog-footer">
      <a href="/blog" class="back-to-blog">← Back to Blog</a>
    </footer>
  </div>
</div>
</html>