<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" th:href="@{/css/shopping-cart.css}">
    <link rel="stylesheet" th:href="@{/css/bottom_nav.css}">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<h1>Shopping Cart</h1>
<!-- Message Section -->
<div th:if="${message}" class="alert alert-success" th:text="${message}"></div>

<table>
    <thead>
    <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cartItems}">
        <td th:text="${item.productName}">Product Name</td>
        <td th:text="${item.price}">0.00</td>
        <td th:text="${item.quantity}">0</td>
        <td th:text="${item.price * item.quantity}">0.00</td>
        <td>
            <form th:action="@{/cart/remove}" method="post">
                <input type="hidden" name="productId" th:value="${item.productId}">
                <button type="submit">Remove</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<h2>Total Price: <span th:text="${totalPrice}">0.00</span></h2>

<h2>Checkout</h2>
<button id="checkout-button">Pay Now</button>
<div th:replace="nav :: bottom-nav"></div>

<script th:inline="javascript">
    const stripe = Stripe([[${STRIPE_PUBLIC_KEY}]]);
    document.getElementById("checkout-button").addEventListener("click", function () {
        fetch("/create-checkout-session", {
            method: "POST",
            headers: { "Content-Type": "application/x-www-form-urlencoded" },
            body: new URLSearchParams({ amount: "1.00" })
        })
        .then(response => {
            if (!response.ok) {
                return response.text().then(errorText => {
                    throw new Error('Network response was not ok: ' + errorText);
                });
            }
            return response.text();
        })
        .then(sessionUrl => {
            window.location = sessionUrl;
        })
        .catch(error => console.error('Error: ', error));
    });
</script>
</body>
</html>
