<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (
          pageContent=~{:: checkoutContent},
          pageTitle='Checkout',
          pageCss=@{/css/checkout.css}
      )}">
<body>
  <div th:fragment="checkoutContent">
    <div class="checkout-container">
      <!-- Customer Info with Edit Option -->
      <div class="customer-info">
        <p><strong>Customer:</strong> <span id="customerNameDisplay" th:text="${user.customerName}"></span></p>
        <p><strong>Phone:</strong> <span id="phoneDisplay" th:text="${user.phone}"></span></p>
        <p><strong>Address:</strong> <span id="addressDisplay" th:text="${user.address}"></span></p>
        <button class="edit-button" onclick="openEditDialog()">&#8250;</button>
      </div>


      <!-- Dashed Line Separator -->
      <div class="dashed-line"></div>

      <!-- Order Items -->
      <div class="order-items">
        <h3>Order Items</h3>
        <ul>
          <li th:each="item : ${orderItems}">
            <img th:src="${item.imageUrl}" alt="Product Image" style="width: 50px; height: 50px; margin-right: 10px;" loading="lazy">
            <span th:text="${item.productName}"></span> -
            <span th:text="${item.unitPrice}"></span> x
            <span th:text="${item.quantity}"></span>
            <br>
            <ul>
              <li th:each="entry : ${item.formattedProperties}">
                <strong th:text="${entry.key}"></strong>: <span th:text="${entry.value}"></span>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- Payment Options -->
      <div class="payment-options">
        <h3>Payment Options</h3>
        <label><input type="radio" name="paymentMethod" value="Visa"> Visa</label>
        <label><input type="radio" name="paymentMethod" value="PayPal"> PayPal</label>
        <label><input type="radio" name="paymentMethod" value="ApplePay"> Apple Pay</label>
      </div>

      <!-- Totals and Discount -->
      <div class="totals" th:if="${order.originalTotal > order.discountedTotal}">
        <p>Subtotal: <span class="old-price" th:text="'$' + ${order.originalTotal}"></span></p>
        <p><strong>Savings: </strong> <span th:text="'$' + ${order.originalTotal - order.discountedTotal}"></span></p>
        <p>Total after discount: <span th:text="'$' + ${order.discountedTotal}"></span></p>
      </div>

      <div class="totals" th:if="${order.originalTotal == order.discountedTotal}">
        <p>Subtotal: <span th:text="'$' + ${order.originalTotal}"></span></p>
      </div>

      <!-- Estimated HST -->
      <div class="hst">
        <p>Estimated HST: $<span th:text="${order.hst}"></span></p>
      </div>

      <!-- Order Total -->
      <div class="order-total">
        <p>Order Total: <strong><span th:text="'$' + ${order.orderTotal}"></span></strong></p>
      </div>

      <!-- Submit Order Button -->
      <div class="submit-order">
        <button id="submit-order-button" type="button">Pay Now</button>
      </div>

      <!-- Customer Info Edit Modal -->
      <div id="editDialog" class="modal">
        <div class="modal-content">
          <span class="close-button" onclick="closeEditDialog()">&times;</span>
          <h2>Edit Customer Information</h2>
          <form id="editCustomerForm">
            <label for="customerName">Customer Name:</label>
            <input type="text" id="customerName" name="customerName" th:value="${user.customerName}"/>

            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" th:value="${user.phone}"/>

            <label for="address">Address:</label>
            <input type="text" id="address" name="address" th:value="${user.address}"/>

            <button type="button" onclick="submitEditForm()">Save Changes</button>
          </form>
        </div>
      </div>

    </div>

    <script src="https://js.stripe.com/v3/"></script>

    <script th:inline="javascript">
      const stripe = Stripe([[${STRIPE_PUBLIC_KEY}]]);
       // Inject the Thymeleaf variable into JavaScript
      const orderTotalFinal = /*[[${order.orderTotal}]]*/ 0;
      const orderId = /*[[${order.orderId}]]*/ 0; // Set the orderId from the order object

      document.getElementById("submit-order-button").addEventListener("click", function () {

          const customerName = document.getElementById("customerNameDisplay").textContent.trim();
          const address = document.getElementById("addressDisplay").textContent.trim();

          // Check if customer name and address are provided
          if (!customerName || !address) {
              // Open edit dialog if customer information is missing
              openEditDialog();
              alert("Please enter your name and address to continue with the order.");
              return; // Stop further execution
          }

          fetch("/pay/create-checkout-session", {
              method: "POST",
              headers: { "Content-Type": "application/x-www-form-urlencoded" },
              body: new URLSearchParams({
                amount: orderTotalFinal,
                orderId: orderId
              })
          })
          .then(response => {
              if (!response.ok) {
                  return response.text().then(errorText => {
                      throw new Error('Network response was not ok: ' + errorText);
                  });
              }
              return response.text();
          })
          .then(sessionUrl => {
              window.location = sessionUrl;
          })
          .catch(error => console.error('Error: ', error));
      });



      function openEditDialog() {
          document.getElementById("editDialog").style.display = "block";
      }

      function closeEditDialog() {
          document.getElementById("editDialog").style.display = "none";
      }

     function submitEditForm() {
        const customerData = {
            customerName: document.getElementById("customerName").value,
            phone: document.getElementById("phone").value,
            address: document.getElementById("address").value,
            orderId: orderId
        };

        fetch('/update-user-info', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(customerData)
        })
        .then(response => response.json())
        .then(data => {
            // Update the displayed values on the page with the new data
            document.getElementById("customerNameDisplay").textContent = data.customerName;
            document.getElementById("phoneDisplay").textContent = data.phone;
            document.getElementById("addressDisplay").textContent = data.address;


            // Close the modal dialog
            closeEditDialog();


        })
        .catch(error => console.error('Error updating customer info:', error));
    }


      window.onclick = function(event) {
          const modal = document.getElementById("editDialog");
          if (event.target === modal) {
              closeEditDialog();
          }
      }
    </script>

  </div>

</body>
</html>
