<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (
          pageContent=~{:: checkoutContent},
          pageTitle='Checkout',
          pageCss=@{/css/checkout.css},
          pageJs=@{/js/checkout.js}
      )}">
<body>
  <div th:fragment="checkoutContent">
    <div class="checkout-container">
      <!-- Customer Info with Edit Option -->
      <div class="customer-info">
        <form id="customerForm">
          <div class="form-group">
            <label for="customerName">
              Name<span class="required">*</span>
            </label>
            <input type="text" id="customerName" name="customerName" class="form-control"
                   th:value="${user.customerName}" placeholder="Enter your name" required>
          </div>
          <div class="form-group">
            <label for="phone">
               Phone<span class="required">*</span>
            </label>
            <input type="tel" id="phone" name="phone" class="form-control"
                   th:value="${user.phone}" placeholder="Enter your phone number" required>
          </div>
          <div class="form-group">
            <label for="address">
              Address<span class="required">*</span>
            </label>
            <input type="text" id="address" name="address" class="form-control"
                   th:value="${user.address}" placeholder="Start typing your address..." required>
          </div>
        </form>
      </div>



      <!-- Dashed Line Separator -->
      <div class="dashed-line"></div>

      <!-- Order Items -->
      <div class="order-items">
        <h3>Order Items</h3>
        <ul>
          <li th:each="item : ${orderItems}">
            <img th:src="${item.imageUrl}" alt="Product Image" style="width: 50px; height: 50px; margin-right: 10px;" loading="lazy">
            <span th:text="${item.productName}"></span> -
            <span th:text="${item.unitPrice}"></span> x
            <span th:text="${item.quantity}"></span>
            <br>
            <ul>
              <li th:each="entry : ${item.formattedProperties}">
                <strong th:text="${entry.key}"></strong>: <span th:text="${entry.value}"></span>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- Payment Options -->
      <div class="payment-options">
        <h3>Payment Options</h3>
        <label><input type="radio" name="paymentMethod" value="Visa"> Visa</label>
        <label><input type="radio" name="paymentMethod" value="PayPal"> PayPal</label>
        <label><input type="radio" name="paymentMethod" value="ApplePay"> Apple Pay</label>
      </div>

      <!-- Totals and Discount -->
      <div class="totals" th:if="${order.originalTotal > order.discountedTotal}">
        <p>Subtotal: <span class="old-price" th:text="'$' + ${order.originalTotal}"></span></p>
        <p><strong>Savings: </strong> <span th:text="'$' + ${order.originalTotal - order.discountedTotal}"></span></p>
        <p>Total after discount: <span th:text="'$' + ${order.discountedTotal}"></span></p>
      </div>

      <div class="totals" th:if="${order.originalTotal == order.discountedTotal}">
        <p>Subtotal: <span th:text="'$' + ${order.originalTotal}"></span></p>
      </div>

      <!-- Estimated HST -->
      <div class="hst">
        <p>Estimated HST: $<span th:text="${order.hst}"></span></p>
      </div>

      <!-- Order Total -->
      <div class="order-total">
        <p>Order Total: <strong><span th:text="'$' + ${order.orderTotal}"></span></strong></p>
      </div>

      <!-- Submit Order Button -->
      <div class="submit-order">
        <button id="submit-order-button" type="button">Pay Now</button>
      </div>

    </div>

    <script src="https://js.stripe.com/v3/"></script>
    <script th:inline="javascript">
      const CheckoutConfig = {
        orderTotalFinal: /*[[${order.orderTotal}]]*/ 0,
        orderId: /*[[${order.orderId}]]*/ 0
    };
    </script>
  </div>

</body>
</html>
