<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:fragment="layout (pageContent, pageTitle, pageCss)">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${pageTitle}">Yaojia Buy</title>
  <link rel="stylesheet" th:href="@{/css/layout.css}">
  <link rel="stylesheet" th:href="@{/css/bottom_nav.css}">
  <link rel="stylesheet" th:href="@{/css/cart.css}">
  <link th:if="${pageCss}" rel="stylesheet" th:href="${pageCss}">
  <script th:src="@{/js/spa-core.js}" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.0/dist/cdn.min.js" defer></script>
<!--  <script th:src="@{/js/cart-update.js}" defer></script>-->
</head>
<body x-data="globalState">
<header class="header">
  <div class="logo">ShopLogo</div>
  <nav class="navbar">
    <a href="#home">Home</a>
    <a href="#shop">Shop</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <a href="#cart" class="cart-icon">🛒 Cart (0)</a>
  </nav>
</header>

<main>
  <div th:insert="${pageContent}"></div>
</main>
<script th:if="${pageJs}" th:src="${pageJs}" defer></script>
<footer th:insert="nav :: bottom-nav"></footer>
</body>
</html>
