<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="bottom-nav">
  <nav class="bottom-nav">
    <ul>
      <li><a href="/">
        <div class="cat_icon">
          <img src="/images/old/gift.png" style="opacity: 1; transition: opacity 0.3s;">
        </div>
        <p class="cat_name">Home</p>
      </a></li>

      <li><a href="/product/all">
        <div class="cat_icon">
          <img src="/images/old/category.png" style="opacity: 1; transition: opacity 0.3s;">
        </div>
        <p class="cat_name">Category</p>
      </a></li>

      <li><a href="/cart">
        <div class="cat_icon">
          <img src="/images/old/cart.png" style="opacity: 1; transition: opacity 0.3s;">
          <!-- Cart count badge -->
          <span id="cartItemCount" class="cart-count" th:text="${cartItemCount}">0</span>
        </div>
        <p class="cat_name">购物车</p>
      </a></li>


      <li><a href="/groupon">
        <div class="cat_icon">
          <img src="/images/old/groupon.png" style="opacity: 1; transition: opacity 0.3s;">
        </div>
        <p class="cat_name">欢乐拼</p>
      </a></li>

      <li><a href="/member">
        <div class="cat_icon">
          <img src="/images/old/me.png" style="opacity: 1; transition: opacity 0.3s;">
        </div>
        <p class="cat_name">我的中心</p>
      </a></li>
    </ul>
  </nav>
</div>

</body>
</html>
