<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (
          pageContent=~{:: ordersContent},
          pageTitle='Your Orders',
          pageCss=@{/css/orders.css}
      )}">
<body>
  <div th:fragment="ordersContent">
    <div class="container">
      <!-- Header Section -->
      <header class="header">
        <h1>Your Orders</h1>
      </header>

      <!-- Orders List Section -->
      <section class="orders">
        <div class="order-header">
          <div class="order-id">Order ID</div>
          <!--      <div class="order-date">Date</div>-->
          <div class="order-status">Status</div>
          <div class="order-total">Total</div>
        </div>
        <div th:each="order : ${orders}" class="order-item">
          <div class="order-No" th:text="${order.orderNo}"></div>
          <div class="order-status" th:text="${order.orderStatus}"></div>
          <div class="order-total" th:text="'$' + ${order.finalTotal}"></div>
        </div>
      </section>
    </div>
  </div>
</body>
</html>
