<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="productDetailContent">
  <div class="product-detail-container">
    <!-- Carousel Section -->
    <div class="swiper">
      <div class="swiper-wrapper">
        <div th:each="productPhoto : ${productPhotos}" class="swiper-slide">
          <img th:src="${productPhoto.photoUrl}" alt="Product Photo" loading="lazy">
        </div>
      </div>
    </div>



    <!-- Video Icons Section -->
<!--    <div class="video-icons">-->
<!--      <div th:each="video : ${productVideos}" class="video-icon">-->
<!--        <a th:href="@{/videos/{filename}(filename=${video.fileName})}" target="_blank">-->
<!--          <img src="/icons/video-icon.png" alt="Play Video" class="video-icon-image">-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

    <!-- Optional Video Modal -->
    <div id="videoModal" class="modal" style="display: none;">
      <div class="modal-content">
        <span id="closeModal" class="close">&times;</span>
        <video id="videoPlayer" controls>
          <source id="videoSource" src="" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>

    <section class="product-details">
      <div class="product-info">
        <!-- Product Name -->
        <h1 th:text="${product.productName}">Product Name</h1>

        <!-- Product Price -->
        <div class="price" th:if="${product.discountedPrice != null}">
          <span th:text="'$' + ${product.discountedPrice}"></span>
          <span class="old-price" th:text="'$' + ${product.price}"></span>
        </div>
        <div class="price" th:if="${product.discountedPrice == null}">
          <span th:text="'$' + ${product.price}"></span>
        </div>

        <!-- Reviews -->
        <div class="reviews">
          <div class="stars">
            ★★★★☆
          </div>
          <span class="review-count">
            <span th:text="${reviews.size()}"></span> Customer Reviews
          </span>
        </div>

        <!-- Product Options Section -->
        <div class="product-options">
          <div th:each="property : ${productProperties}">
            <div class="option-group">
              <h3 th:text="${property.propertyName} + ':'"></h3>
              <div class="option-buttons">
                <button type="button"
                        class="option-button"
                        th:data-property="${property.propertyName}"
                        th:text="${value}"
                        th:data-value="${value}"
                        th:each="value, iterStat : ${property.propertyValue.split(',')} "
                        th:classappend="${iterStat.index == 0 ? 'selected' : ''}">
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="product-tabs">
      <div class="tabs">
        <button class="tab-link active" onclick="openTab(event, 'description')">Description</button>
        <button class="tab-link" onclick="openTab(event, 'additional-info')">Additional Information</button>
        <button class="tab-link" onclick="openTab(event, 'reviews')">
          Reviews [<span th:text="${reviews.size()}"></span>]</button>
      </div>

      <div id="description" class="tab-content active">
        <p class="description" th:text="${product.description}"></p>
        <div class="images">
          <img src="/images/lake.jpg" alt="Sofa View 1" loading="lazy">
          <img src="/images/lake.jpg" alt="Sofa View 2" loading="lazy">
        </div>
      </div>

      <div id="additional-info" class="tab-content">
        <p th:each="entry : ${product.additionalInfoMap}">
          <strong th:text="${entry.key}">Key</strong>:
          <span th:text="${entry.value}">Value</span>
        </p>
      </div>

      <div id="reviews" class="tab-content">
        <p th:each="review: ${reviews}">
          <strong th:text="${review.reviewer}"></strong>
          <span th:text="${review.content}"></span>
        </p>
      </div>
    </section>


    <!-- Action Buttons Section -->
    <div class="action-buttons">
      <div class="half">
        <form th:action="@{/cart/add}" method="post" id="add-to-cart-form">
          <input type="hidden" name="productId" th:value="${product.productId}">
          <!-- Dynamic properties -->
          <input type="hidden"
                 th:each="property : ${productProperties}"
                 th:id="'selected-' + ${property.propertyName}"
                 th:name="'properties[' + ${property.propertyName} + ']'"
                 th:value="${property.propertyValue.split(',')[0]}">

          <button type="submit" class="add-to-cart">Add to Cart</button>
        </form>
      </div>

      <div class="half">
        <form th:action="@{/buynow}" method="post" id="buy-now-form">
          <input type="hidden" name="productId" th:value="${product.productId}">
          <!-- Dynamic properties -->
          <input type="hidden"
                 th:each="property : ${productProperties}"
                 th:id="'buy-now-selected-' + ${property.propertyName}"
                 th:name="'properties[' + ${property.propertyName} + ']'"
                 th:value="${property.propertyValue.split(',')[0]}">
          <button type="submit" class="buy-now">Buy Now</button>
        </form>
      </div>

    </div>

  </div>
</div>
</body>
</html>
