<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (
          pageContent=~{:: pageContent},
          pageTitle='Share and Earn Rewards',
          pageCss=@{/css/referral.css}
      )}">
<body>
  <div th:fragment="pageContent">
    <div class="container">
      <div class="content">
        <h2>Share Your Referral Link</h2>
        <p>Invite your friends to join and shop on our platform using the link below. You'll earn <b>10% rewards</b> on every purchase they make through your referral link. Start sharing now and earn more!</p>
      </div>

      <div class="link-box">
        <p>Share this link to earn rewards:</p>
        <a href="#" th:href="${referralLink}" th:text="${referralLink}">Referral Link</a>
      </div>

      <div class="share-buttons">
        <!-- Facebook Share -->
        <a th:href="'https://www.facebook.com/sharer/sharer.php?u=' + ${referralLink}" target="_blank" class="btn btn-facebook">Share on Facebook</a>

        <!-- Twitter Share -->
        <a th:href="'https://twitter.com/intent/tweet?text=Check%20out%20this%20amazing%20site!%20' + ${referralLink}" target="_blank" class="btn btn-twitter">Share on Twitter</a>

        <!-- WhatsApp Share -->
        <a th:href="'https://api.whatsapp.com/send?text=Check%20out%20this%20amazing%20site!%20' + ${referralLink}" target="_blank" class="btn btn-whatsapp">Share on WhatsApp</a>

        <!-- LinkedIn Share -->
        <a th:href="'https://www.linkedin.com/sharing/share-offsite/?url=' + ${referralLink}" target="_blank" class="btn btn-linkedin">Share on LinkedIn</a>

        <!-- Reddit Share -->
        <a th:href="'https://www.reddit.com/submit?url=' + ${referralLink} + '&title=Check%20out%20this%20amazing%20site!'" target="_blank" class="btn btn-reddit">Share on Reddit</a>

        <!-- Email Share -->
        <a th:href="'mailto:?subject=Check%20out%20this%20amazing%20site!&body=I%20found%20this%20great%20site!%20' + ${referralLink}" target="_blank" class="btn btn-email">Share via Email</a>

        <!-- Telegram Share -->
        <a th:href="'https://t.me/share/url?url=' + ${referralLink} + '&text=Check%20out%20this%20amazing%20site!'" target="_blank" class="btn btn-telegram">Share on Telegram</a>

        <!-- Pinterest Share -->
        <a th:href="'https://pinterest.com/pin/create/button/?url=' + ${referralLink} + '&description=Check%20out%20this%20amazing%20site!'" target="_blank" class="btn btn-pinterest">Share on Pinterest</a>
      </div>
    </div>
  </div>
</body>
</html>
