.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px;
  background-color: #b08968; /* #b08968 brown */
}

.product-card {
  position: relative;
  background-color: #fef4e8;
  padding: 10px;
  text-align: center;
  flex: 1 1 20%;
}

.product-card img {
  width: 100%;
  border-radius: 5px;
}

.product-card h3 {
  color: #333;
  font-size: 1.2em;
  margin: 10px 0;
}

.product-card p {
  color: #777;
  font-size: 0.9em;
}

.price {
  display: block;
  font-size: 1.1em;
  color: #0066cc;
  margin: 10px 0;
}

.product-card .price .old-price {
  text-decoration: line-through;
  color: #bbb;
  margin-left: 5px;
}

.badge {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #f53b2a;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
}

.badge.new {
  background-color: #1abc9c;
}

/* For medium-sized screens (Tablet) */
@media (max-width: 768px) {
    .product-card {
      padding: 5px;
      flex: 1 1 25%;
    }
}

/* For small screens (Phones) */
@media (max-width: 480px) {
    .product-card {
      padding: 3px;
      flex: 1 1 34%;
    }
}