* {
    box-sizing: border-box;
    max-width: 1200px;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

/* Header */
.header {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.navbar a:hover {
    color: #f53b2a;
}

main {
  padding-bottom: 70px; /* Adjust this value to match the height of the bottom nav */
}

/* Style for the navigation bar */
footer nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff; /* Adjust color as needed */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Optional: adds a slight shadow effect */
    z-index: 1000; /* Ensures nav sits above other content */
}

/* Styling the list items */
footer nav ul {
    display: flex;
    justify-content: space-around; /* Distributes items evenly */
    padding: 10px 0;
    margin: 0;
    list-style-type: none;
}

footer nav li {
    text-align: center;
}

/* Style for the anchor links */
footer nav a {
    text-decoration: none;
    color: #333; /* Adjust color as needed */
}

/* Optional styling for icons */
.cat_icon img {
    width: 24px; /* Set a size for the icons */
    height: auto;
    transition: opacity 0.3s;
}

/* Optional styling for text */
.cat_name {
    font-size: 12px; /* Adjust size as needed */
    margin-top: 5px;
}

.cat_icon {
    position: relative; /* Make the icon the positioning reference for the badge */
}

.cart-count {
    position: absolute;
    top: -5px; /* Adjust as needed to position the badge over the icon */
    right: -5px; /* Adjust to fine-tune horizontal position */
    background-color: #ff0000; /* Red for visibility */
    color: white;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%; /* Makes it circular */
    font-weight: bold;
    min-width: 18px; /* Ensure badge is round even with single-digit numbers */
    text-align: center;
}


/* Responsive Design */
@media (max-width: 768px) {
    .product-item {
        width: calc(100% - 20px);
    }

    .category-list {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .hero-content h1 {
        font-size: 24px;
    }

    .hero-content p {
        font-size: 16px;
    }

    .shop-now {
        font-size: 14px;
        padding: 8px 16px;
    }

    .header {
        flex-direction: column;
        text-align: center;
    }

    .navbar a {
        margin: 10px 0;
    }
}
